$text: #828282;
$white: #ffffff;
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(26px/16px);
    color: $text;
}

.row {
    @apply flex;
    margin-left: -12px;
    margin-right: -12px;
    &>* {
        @apply px-3;
    }
}

.text-body {
    color: #333333;
}

.container-fluid {
    @apply w-full px-3;
}

.swiper {
    width: 100%;
    height: 100%;
    &-pagination {
        --swiper-pagination-bullet-size: 14px;
        --swiper-pagination-bullet-horizontal-gap: 8px;
        --swiper-pagination-bullet-inactive-color: #999999;
        --swiper-theme-color: #FF5C00;
        position: absolute;
        width: max-content !important;
        top: 50%;
        transform: translateY(-50%);
        left: auto !important;
        right: 30px;
        bottom: auto !important;
        &-bullet {
            display: block !important;
            margin: var(--swiper-pagination-bullet-horizontal-gap) 0px !important;
        }
    }
}

.theme-btn {
    @apply bg-primary-700 transition text-white min-w-[200px] py-3 text-center leading-[36px] font-medium text-lg inline-block rounded-full;
    &:hover{
        @apply bg-orange-500;
    }
}